<!-- Your navbar is here -->
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <i class="fas fa-cogs fa-spin"></i>
    <span style="margin-left:10px">Roberto Sanchez</span>
  </a>
</nav>

<div class="container-fluid" id="no-padding">
  <div class="row">
    <div class="col-12">
      <div class="video-container">
        <video src="assets/vid.mp4" autoplay></video>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <!-- ng for goes here -->
      <div *ngFor="let blog of blogs">
        <h1>{{blog.title}}</h1>
        <p>{{blog.content}}</p>
        <p>hello</p>
      </div>
    </div>

    <div class="col-6" >
      <h1 class="center">Add New Blog</h1>
      <!-- form goes here -->
      <form  #f="ngForm" id="myForm" (ngSubmit)="onSubmit()" >
        <div class="form-group">
          <label for="exampleInputPassword1">Title</label>
          <input type="text" class="form-control" [(ngModel)]="newBlog.title" name="title">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Content</label>
          <textarea type="text" class="form-control" [(ngModel)]="newBlog.content" name="content"> </textarea>
        </div>

        <button type="submit" class="btn btn-primary"> Submit </button>
      </form>
    </div>
  </div>
</div>


